<h1>Login</h1>

<div class="container">
  <div>
    Name :
    <input type="text" name="username" [(ngModel)]="username" />
    Password :
    <input
      type="password"
      [(ngModel)]="password"
      (keyup.enter)="handleJWTAuthLogin()"
    />

    <!--Password : {{ password }}-->
    <button
      type="submit"
      style="margin-left: 10px"
      class="btn btn-success"
      (click)="handleJWTAuthLogin()"
      name="Login"
    >
      Login
    </button>
  </div>

  <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div>
</div>
