<h1>Welcome</h1>
<div class="container">
  Welcome {{ name }}. You can manage your todos <a routerLink="/todos">here</a>
</div>

<div class="container">
  <h4>Click here to get a customized message</h4>
  <button class="btn btn-success" (click)="getWelcomeMessage()">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
  <H6>Your customized Welcome Message:</H6>
  {{welcomeMessageFromService}}
</div>

<div class="container">
  <h4>Click here to get a customized message with parameter</h4>
  <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get Welcome Message with parameters
  </button>
</div>

<div *ngIf="welcomeMessageFromServiceWithParam" class="container">
  <H6>Your customized Welcome Message with parameter:</H6>
  {{welcomeMessageFromServiceWithParam}}
</div>
